version: '3.4'

services:
  gsl.productapi:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DB_ENDPOINT=mssql
      - DB_MIGRATE=true
      - DB_INITIALIZE=true  

  gsl.ratingapi:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DB_ENDPOINT=mssql
      - DB_MIGRATE=true
      - DB_INITIALIZE=true 

  gsl.apigateway:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

  gsl.web:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development